*,
::before,
::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 45px;
}

.main-container {
    background-color: #2e2e1f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border: 2.5px solid black;
    border-radius: 40px;
    width: 400px;
    height: 650px;
    margin-bottom: 100px;
    padding-top: 40px;
}

.display-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-color: #ccffe6;
    width: 350px;
    height: 400px;
    border: 1.75px solid black;
    border-radius: 10px;
}

button {
    border: none;
}

.upper-btns {
    margin-bottom: 66px;
    padding-top: 20px;
    display: flex;
    gap: 15px;
}

.ac-btn,
.c-btn {
    margin: 0px 8px;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #990000;
    font-weight: bold;
    font-size: 22px;
}

.ac-btn:hover,
.c-btn:hover {
    background-color: #800000;
    text-shadow: 1px 1px 1px gray;
}

.lower-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 350px;
    height: 230px;
    margin-bottom: 100px;
}

.top-row,
.middleTop-row,
.middleBottom-row,
.bottom-row {
    display: flex;
    gap: 20px;
}

.lower-btns button{
    border-radius: 10px;
    height: 70px;
    width: 70px;
    font-weight: 600;
    font-size: 20px;
}

.lower-btns button:hover {
    background-color: #ccccb3;
}